* {
    font-family: Helvetica, sans-serif;
}

p {color: #110a21;}

a:link, a:focus, a:hover, a:active {color: #f6f740;}
a:visited {color: #f28123;}

.portfolioitem img{
    transition: transform 300ms;
}

.portfolioitem img:hover{
    transform: scale(1.1);
}

body { background: #132040;}

nav {
    background: #1f0b2f;
    position: fixed;
    left: 0px;
    width: 100%;
    height: 150px;
    z-index: 100;
    top: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.5);
}

nav h1 {
    padding-left: 70px;
}

#navigation {
    padding-right: 70px;
    align-self: center;
}

#navigation a {
    transition: transform 300ms;
}

#navigation a:link {
    background-color: #132040;
    font-weight: bold;
    padding: 14px 25px;
    border-radius: 10px;
}

#navigation a:hover{
    background-color: #2b415d;
    transform: scale(1.1);
    font-weight: bolder;
    border-radius: 10px;
}

#intro {
    display: flex;
    max-width: 90%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 200px;
    padding: 30px;
    background-color: #304f2f;

}

#intro h2, p {
    margin: 20px;
}




#bio {
    font-size: 30px;
    align-self: center;
}

#portfolio {
    display: grid;
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #2b415d;
    
    grid-template-areas: "header"
                         "project1"
                         "project2"
                         "project3"
                         "project4"
                         "project5"
                         "project6";
}

@media screen and (min-width:1400px) {

    #portfolio{
        grid-template-areas:
                         "header header header"
                         "project1 project2 project3"
                         "project4 project5 project6";
    

    grid-template-rows: 200px 600px 700px;
    grid-template-columns: 2fr 2fr 2fr;
    }
}



#portfolioheader {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

#portfolio1 {
    grid-area: project1;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

#portfolio2 {
    grid-area: project2;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

#portfolio3 {
    grid-area: project3;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

#portfolio4 {
    grid-area: project4;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

#portfolio5 {
    grid-area: project5;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

#portfolio6 {
    grid-area: project6;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

.portfolioitem p {
    font-weight: bold;
    width: 70%;
}

#contact {
    display: flex;
}

#sketch img{
    height: 50%;
    width: 50%;
}

h1 {
    font-size: 50px;
    color: #7cbcc4;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.9);
}

h2 {
    margin: 0;
    font-size: 40px;
    color: #110a21;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

footer {
    margin: 0 auto;
    padding: 30px;
    background-color: #2b415d;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 90%;
}
